@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
}

.container {
  text-align: center;
  display: grid;
  background-color: #e2e8f0;
  grid-template-columns: 1fr 3fr 1fr;
}

.container div {
  padding: 15px;
  font-weight: bold;
}

.sidebar {
  grid-row: 1 / 5;
  background-color: #1992d4;
  color: white;
  width: auto;
}

.dashboard {
  text-align: start;
  font-size: 28px;
}

.dashboard_options1 {
  text-align: start;
}

.dashboard_options2 {
  text-align: start;
}

.header {
  grid-column: 2 / 4;
  text-align: start;
  background-color: white;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.4rem;
}

.greetings_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hi {
  font-size: 12px;
  margin-bottom: 0.4rem;
}

.header_down_right_buttons {
  background-color: #1992d4;
  color: white;
}

.your_projects {
  display: flex;
  flex-direction: column;
}

.projects_title {
  text-align: start;
  margin-left: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-column: 1 / 3;
  gap: 1rem;
  justify-self: start;
}

.card {
  background-color: white;
  border-left: 0.3rem solid #f0b429;
  height: 15rem;
  display: grid;
  overflow: auto;
}

.title {
  font-size: 26px;
  justify-self: start;
}

.content {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}

.card_buttons {
  align-self: end;
  justify-self: end;
}

.right_sidebar {
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
}

.announcements {
  display: grid;
  grid-column: 3 / 4;
  margin-top: 1.0rem;
  background-color: white;
  gap: 1rem;
}

.announcement {
  display: grid;
  margin-top: -1rem;
  border-bottom: solid 0.1rem lightgray;
}

.last {
  border-bottom: none;
}

.announcement_title,
.trending_title {
  text-align: start;
}

.announcement_name {
  font-size: 22px;
  text-align: left;
}

.announcement_content {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  grid-row-start: 2;
  margin-top: 1.4rem;
  background-color: white;
}

.trending_title {
  margin-top: 2.4rem;
}

.username {
  font-size: 20px;
  text-align: left;
}

.user_description {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}