@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

a {
  list-style-type: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li,
button {
  cursor: pointer;
}

.container {
  text-align: center;
  display: grid;
  background-color: #e2e8f0;
  grid-template-columns: 1fr 3fr 1fr;
}

.container div {
  padding: 15px;
  font-weight: bold;
}

.sidebar {
  grid-row: 1 / 5;
  background-color: #1992d4;
  color: white;
  width: auto;
}

.dashboard {
  text-align: start;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.dashboard_img {
  width: 3rem;
  margin-right: 0.2rem;
}

.dashboard_options1,
.dashboard_options2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: start;
  align-items: center;
}

.dashboard_01_icons,
.dashboard_02_icons {
  grid-column: 1 / 2;
  margin-left: 0.8rem;
}

.dashboard_01_texts,
.dashboard_02_texts {
  grid-column: 2 / 3;
  margin-left: -1.1rem;
}

.dashboard_01_icon, 
.dashboard_02_icon {
  width: 1.0rem;
  margin-bottom: 0.9rem;
}

.dashboard_01_text,
.dashboard_02_text {
  margin-bottom: 0.9rem;
}


.dashboard_options2 {
  text-align: start;
}

.header {
  grid-column: 2 / 4;
  text-align: start;
  background-color: white;
  border-bottom: 0.3rem solid lightgray;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.4rem;
  margin-bottom: -2.5rem;
}

.search-form {
  display: flex;
  align-items: center;
  width: 40rem;
}

.search_icon {
  width: 1.5rem;
}

.search-bar {
  background-color: #e2e8f0;
  border-style: none;
  border-radius: 1rem;
  margin-right: 2rem;
  width: 100%;
}

.header_right_part {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.bell {
  width: 1.2rem;
}

.morgan_icon_upper {
  width: 3.0rem;
}

.morgan {
  font-size: 14px;
}

.greetings_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1.5rem;
}

.morgan_icon {
  max-width: 4rem;
  max-height: 5rem;
}

.left_greeting {
  display: flex;
  gap: 0.5rem;
}

.hi {
  font-size: 14px;
  margin-bottom: 0.4rem;
  display: flex;
}

.right_greeting {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: auto;
}

.header_down_right_buttons {
  background-color: #1992d4;
  color: white;
  border-radius: 0.8rem;
  font-weight: bold;
  padding: 0.5rem;
  border-style: none;
  width: 5rem;
}

.your_projects {
  display: flex;
  flex-direction: column;
}

.projects_title {
  text-align: start;
  margin-left: 1rem;
  font-size: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-column: 1 / 3;
  gap: 1rem;
  justify-self: start;
}

.card {
  background-color: white;
  border-left: 0.4rem solid #f0b429;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.3rem 0 lightgray;
  height: 10rem;
  display: grid;
  overflow: auto;
}

.title {
  font-size: 18px;
  justify-self: start;
}

.content {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: grey;
}

.card_buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.8rem;
  align-items: end;
}

.card_button1 {
  grid-column: 3 / 4;
  width: 1.6rem;
}

.card_button2 {
  grid-column: 4 / 5;
  width: 1.6rem;
}

.card_button3 {
  grid-column: 5 / 6;
  width: 1.6rem;
}

.right_sidebar {
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
}


.announcements {
  display: grid;
  grid-column: 3 / 4;
  margin-top: 1.0rem;
  background-color: white;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.3rem 0 lightgray;
}

.announcement {
  display: grid;
  margin-top: -1rem;
  border-bottom: solid 0.1rem lightgray;
}

.last {
  border-bottom: none;
}

.announcement_title,
.trending_title {
  text-align: start;
  font-size: 18px;
}

.announcement_name {
  font-size: 14px;
  text-align: left;
}

.announcement_content {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: grey;
}

.trending_title {
  margin-top: 2.4rem;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  margin-top: 1.0rem;
  background-color: white;
  padding: 1rem;
  padding-bottom: 0.1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.3rem 0 lightgray;
}

.user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}

.username {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.user_description {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: grey;
  grid-row: 2 / 3;
  margin-top: -0.6rem;
  grid-column: 2 / 3;
}

.user_icon {
  width: 3rem;
  grid-column: 1 / 2;
  margin-bottom: -0.9rem;
}
